.tagwrapp {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 4px;

  &-red {
    color: var(--clr-accent-danger);
    background-color: rgb(255 121 121 / 10%);
  }
  
  &-yellow {
    color: var(--clr-accent-warn);
    background-color: rgb(254 215 3 / 10%);
  }
  
  &-green {
    color: var(--clr-accent-success);
    background-color: rgb(63 151 41 / 10%);
  }
  
  &-blue {
    color: var(--clr-nav-main);
    background-color: rgb(73 204 249 / 10%);
  }
}

.deletebtn {
  color: var(--clr-accent-danger);
  background-color: rgb(255 121 121 / 10%);
}
