:root {
  --size: 100%;
}

.component {
    width: var(--size);
    min-height: 100ch;
  }
  
  .title {
    padding-block-end: var(--gap-xxxl);
    font-family: var(--ff-heading);
    font-weight: var(--fw-regular);
    color: var(--clr-accent-text);
  }
  