.form {
  display: grid;
  gap: 0;
  width: 550px;
  height: 750px;
  padding: 30px 44px 42px;
  background: var(--clr-bg-sidebar);
  border-radius: var(--radius-main);
  box-shadow: var(--shadow-sidebar);
}

.checkbox {
  margin-bottom: 20px;

  span > span {
    color: var(--clr-card-heading);
  }
}

.footer {
  margin-top: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.invalid{
  background-color: hsl(var(--accent-danger-hs) var(--lt-100));
  outline: 2px solid var(--clr-accent-danger);
}
